body {
    background-image: url(img/rojo.png!w700wp);
    text-align: center;
    align-content: center;
    margin: 0;
    
}
#jefe{
    position: absolute;
    z-index: 10;
    background-image: url('img/rata.png');
    background-color: #00000000;
    background-size: cover;
    border: none;
    width: 160px;
    height: 200px;
    cursor: pointer;
    display: none;
    transition: top 0.5s ease, left 0.5s ease; /* Transición suave para el movimiento */

}
.contador {
    position: absolute;  /* Hace que el texto se posicione sobre la imagen */
    top: -20px;  /* Ajusta la posición del texto hacia arriba */
    left: 55%;  /* Centra el texto horizontalmente */
    transform: translateX(-50%);  /* Ajusta el centro del texto */
    color: white;  /* Color del texto */
    font-size: 16px;  /* Tamaño de la fuente */
    font-weight: bold;  /* Estilo de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Agrega una sombra al texto para hacerlo más visible */
    background-color: rgba(0, 0, 0, 0.6);  /* Fondo translúcido para el texto */
    padding: 5px;
    width: 100px;
    border-radius: 5px;  /* Bordes redondeados para el fondo */
}
#gris{
    top: 70px;
    width: 100%;
    height: 80%;
    position: fixed;
    background: linear-gradient(to bottom, #444242, #1a1919);
    z-index: 0;
    border: 2px solid black;

}
#lose{
    
    background: linear-gradient(to bottom,  rgb(146, 214, 227), rgb(78, 148, 161));
    border: 2px solid black;
    width: 20%;
    height: 40%;
    position: fixed;
    left: 40%;
    z-index: 15;

    border-radius: 15px;
    padding: 20px;
    top: 200px;
    display: none;

}
#play{
    margin-left: 40%;
    margin-top: 145px;
    width: 20%;
    height: 40%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    cursor: pointer;
    background-image: url(img/play.png);
    background-size: 100% 100%; /* Rellena todo el div */
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
}

.bomba{
    width: 50px;
    height: 50px;
    position: absolute;
}
.chela{
    width: 50px;
    height: 50px;
    position: absolute;
}


img {
    filter: drop-shadow(5px 5px 10px black); /* Sombra negra */
    
    cursor: pointer;
}

#title{
    font-family: cursive;
    font-size: 80px;
    color: #f6ff00;
    margin: 0px; 
    -webkit-text-stroke: 2px black;
}
.subt{
    top: 20px;
    font-family: cursive;
    margin: 0px 20px;
    position: relative;
    font-weight: 900;
    color: #f6ff00;
    font-size: 35px;
    -webkit-text-stroke: 2px black;   
}
#pizzota{
    /*-border: 3px solid #567F47;-*/
    border-radius: 100%;
    top: -10px;
    width:60%;
    left: 0px;
    position: fixed;
    height: 105%;
}
#header{
    position: fixed;
    left: 30%;
    top: 25px;
    width: 40%;
    height: 15%;
    background: linear-gradient(to bottom,  #7eba34, #318e17);
    
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 5);
    border-radius: 20px;
    
    border: 3px solid black;
}

#inicio{
    
    z-index: 10;
    background-color: #f6ff00;
    margin: 20px;
    position: fixed;
    right: 200px;
    width: 90px;
    border-radius: 100%;
    top: 30px;
    height: 90px;
    
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 3);

}

#info{
    
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 3);
    z-index: 10;
    margin: 20px;
    position: fixed;
    right: 300px;
    width: 90px;
    border-radius: 100%;
    top: 30px;
    height: 90px;
    background-color: rgb(19, 151, 232);
}

#reinicio{
    
    background-color: rgb(232, 19, 19);
    z-index: 10;
    margin: 20px;
    position: fixed;
    right: 100px;
    width: 90px;
    border-radius: 100%;
    top: 30px;
    
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 3);
    height: 90px;
}

#green{
    
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 5);
    border: 3px solid black;
    top: 22%;
    position: fixed;
    left: 10%;
    width: 80%;
    height: 75%;
    background-color: #567F47;
    
    background: linear-gradient(to bottom,  #6cb825, #42944a);
    border-radius: 20px;
}
#container {
    z-index: 1;
    border-radius: 30px;
    position: relative; /* Importante para el ::after */
    height: 170px;
    width: 20%;
    transition: all 1s ease-in-out;
    left: 40%;
    overflow: hidden;
    border: 3px solid black;
}

#container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/pizzeria.png);
    background-size: 100% 100%; /* Rellena todo el div */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1; /* Solo el fondo es menos opaco */
    z-index: -1; /* Se coloca detrás de las imágenes */
}

.rata {
    position: absolute;
    width: 80px; 
    height: 100px;
    animation: apareceRata 1s forwards; /* Aparece con la animación */
        -webkit-user-drag: none;
}

.pizza {
    position: absolute;
    width: 50px; 
    height: 50px;
    animation: apareceRata 2s forwards; /* Aparece con la animación */
        -webkit-user-drag: none;
}


.pizzaC {
    position: absolute;
    width: 80px; 
    height: 80px;
    animation: apareceRata 2s forwards; /* Aparece con la animación */
        -webkit-user-drag: none;
}

#infor{
    width: 30%;
    top: 160px;
    height: 550px;
    background-color: #b5c3b7f6;
    position: fixed;
    z-index: 20;
    left: 50%;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    display: none;


}


.logo{
    width: 80%;
    height: 70%;
    filter: none;
}
.ratag {
    position: absolute;
    width: 160px; 
    height: 200px;
    
    animation: apareceRata 1s forwards; /* Aparece con la animación */
}

@keyframes apareceRata {
    0% {
        transform: scale(0) translateY(50px); /* Empieza pequeña y abajo */
        opacity: 0; /* Inicia invisible */
    }
    100% {
        transform: scale(1) translateY(0); /* Se agranda y sube */
        opacity: 1; /* Termina visible */
    }
}



